extends: airbnb
parser: babel-eslint
env:
  browser: 1
rules:
  no-unused-vars:
    - error
    - varsIgnorePattern: ^__
  semi:
    - error
    - never
  no-unused-expressions:
    - error
    - allowTaggedTemplates: true
  no-console: 0
  no-mixed-operators: 0
  import/extensions: 0
  import/no-extraneous-dependencies: 0
  import/no-unresolved: 0
  react/prefer-stateless-function: 0
  react/no-unused-prop-types: 0
globals:
  APP_CONFIG: false
